html, body {
    height: 100%;
}

/**
  Signup Styles
**/

.login-view {
  .header-div {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 6rem;
    text-align: center;
  }
  .form-control {
    width: 65%;
  }
  .inputs-container {
    margin: 0 auto;
    top: 6.4rem;
  }
  .form-group {
    margin-bottom: 0;
  }
  input {
    margin: 0 auto;
    border-radius: 5px;
  }
}














/**
  End Signup Styles
**/
